* {
  margin: 0;
  padding: 0;
}

@supports (display: flex) {
  body {
    display: flex;
    height: 80vh;
    /*This centers the box vertically*/
    align-items: center;
    justify-content: center;
  }
  form {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  label{
    font-size: 20px
  }
  .topbox {
    background-color: rgba(191, 216, 227, 0.8);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 24px;
    grid-column-end: span 2;
    padding: 5px;
  }
  .u_name {
    background-color: rgba(191, 216, 227, 0.4);
    align-content: center;
  }
  .pw {
    display: grid;
    background-color: rgba(191, 216, 227, 0.4);
  }
  .bottombox {
    background-color: rgba(191, 216, 227, 0.4);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    grid-column-end: span 2;
    text-align: center;
  }
  button {
    border-radius: 5px;
    width: 15%;
    padding: 3px;
    font-size: 15px;
  }
  input[type="text"], input[type="password"] {
    border: 1px solid rgba(191, 216, 227, .4);
    padding: 5px;
    border-radius: 5px;
    font-size: 110%;
    width: 90%; /*Inputbox Size*/
  }
